body {
    scroll-behavior: smooth;
    background-color: blueviolet;
}

/* Styling for the background image */

.bg-image {
    position: absolute;
    top: -1px;
    left: -1px;
    background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width: 1350px;
    height: 654px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/* Styling for the heading */

.welcome {
    position: absolute;
    top: 25%;
    left: 32%;
    color: white;
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .1rem;
}

.description {
    text-align: center;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 42%;
    color: goldenrod;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 30px;
}

.read-more {
    position: absolute;
    top: 60%;
    left: 43%;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    background-color: rgba(162, 8, 162, 0.353);
    border: 3px solid rosybrown;
    border-radius: 3px;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .6s ease;
    transition-property: background-color, color;
}

.read-more:hover {
    color: white;
    background-color: purple;
}

/* About us Section*/

.us {
    position: absolute;
    top: 650px;
    left: 567px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
    font-weight: 200;
    color: white;
}

.random {
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 3px solid violet;
}

.about-us {
    position: absolute;
    text-align: center;
    top: 780px;
    left: 170px;
    right: 150px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    line-height: 30px;
}

.below {
    color: orangered;
}

a {
    text-decoration: none;
    color: gold;
}

.split {
    position: absolute;
    top: 980px;
    left: 220px;
    height: 260px;
    border: 3px solid gold;
    border-radius: 10px;
    background-color: rgb(62, 62, 255);
    width: 70%;
}

.split1 {
    position: absolute;
    left: 90px;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .5px;
    font-size: 1.2rem;
    line-height: 45px;
}

.split2 {
    position: absolute;
    left: 530px;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .5px;
    font-size: 1.2rem;
    line-height: 45px;
}

.split3 {
    position: absolute;
    top: 170px;
    left: 190px;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .5px;
    font-size: 1.2rem;
    line-height: 45px;
}

.year {
    text-decoration: dotted;
    color: gold;
}

.game {
    text-decoration: dotted;
    color: black;
}

/* Application Section */

.app-heading {
    position: absolute;
    top: 1300px;
    left: 510px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
    font-weight: 200;
    color: white;
}

form {
    position: absolute;
    top: 1450px;
    left: 170px;
    width: 75%;
    height: 1120px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: rgb(255, 226, 231);
    font-family: 'Anaheim', sans-serif;
    font-size: 1.2em;
}

fieldset {
    border-radius: 10px;
}

.fieldset1 {
    position: absolute;
    width: 90%;
    top: 30px;
    left: 55px;
}

.fieldset2 {
    width: 90%;
    position: absolute;
    left: 55px;
    top: 510px;
}

.fieldset3 {
    width: 90%;
    position: absolute;
    left: 55px;
    top: 610px;
}

.submit {
    position: absolute;
    top: 1050px;
    left: 400px;
}

/* Styling */

#name {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 13px;
}

#name:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#address {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

#address:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#email {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

#email:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#number {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

#number:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#birthday {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    height: 35px;
    width: 135px;
    border-radius: 3px solid gray;
}

#msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    height: 85px;
    width: 350px;
    border-radius: 3px solid gray;
}

#submit {
    color: white;
    background: rgb(225, 58, 58);
    width: 230px;
    border-radius: 7px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

/* Footer Section */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    position: absolute;
    top: 2700px;
    left: 0;
    height: 315px;
    width: 1349px;
    text-align: center;
    justify-content: center;
}

.footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

.brand h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: gold;
    padding: 5px;
}

h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icon {
    display: flex;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

.social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

.social-item:hover img {
    filter: grayscale(0);
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: .9rem;
    position: absolute;
    top: 270px;
    left: 520px;
    letter-spacing: .4px;
    word-spacing: 1px;
}
/* End of the Footer Section*/
